/* Styles pour le conteneur principal */
.container {
    width: 100%;
    max-width: 800px; /* Augmenté pour mieux ajuster plus de champs */
    margin: 30px auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    padding: 40px;
    backdrop-filter: blur(10px);
    animation: slideIn 1s ease-in-out;
}

/* Styles pour le formulaire de recherche */
.search-form {
    margin-bottom: 20px;
}

.search-form input[type="text"] {
    padding: 8px;
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-form button {
    padding: 8px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-form button:hover {
    background-color: #0056b3;
}

/* Styles pour les publications */
.publication {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

.publication h2 {
    margin-top: 0;
    font-size: 20px;
    color: #333;
}

.publication p {
    margin: 5px 0;
    color: #666;
}

/* Styles pour la pagination */
.pagination {
    margin-top: 20px;
}

.pagination a {
    padding: 5px 10px;
    margin-right: 5px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.pagination a:hover {
    background-color: #0056b3;
}

.pagination .current {
    background-color: #0056;
}
