body {
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 20px;
}

.profile-container {
    background: white;
    border-radius: 50px;
    width: 100%;
    max-width: 800px; 
    margin: 30px auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-header {
    text-align: center;
    margin-bottom: 20px;
}

.profile-image img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
}

.btn {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    width: calc(100% - 10px); 
}

.btn:hover {
    background: linear-gradient(to right, #dd2476, #ff512f);
    transform: scale(1.05);
}

.profile-form form {
    display: flex;
    flex-direction: column;
}

input[type="text"]:disabled,
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="date"],
input[type="number"],
textarea {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(100% - 22px); 
}

textarea {
    height: 100px;
}

button[type="submit"] {
    width: 50%;
    background: linear-gradient(to right, #ff512f, #dd2476);
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    margin: 0 auto; /* Centrer le bouton */
    display: block; /* Assurer que le bouton est en mode bloc */
}

label {
    font-weight: bold;
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-emphasis-color: transparent;
}

.publication-section {
    margin-top: 30px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
}

.publication-section input[type="text"],
.publication-section input[type="date"],
.publication-section input[type="number"],
.publication-section textarea {
    padding: 10px;
    width: calc(100% - 22px);
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 10px;
}
